.my_trips-left img {
    max-width:450px;
    min-height:250px;
}
.my_trips-left {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.invite-modal {
    max-height:400px;
    width:700px;
    overflow:scroll
}

.all-trips {
    margin:0px auto;
    width:950px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.individual-trip {
    border:1px black solid;
    padding:20px;
    width:950px;
    margin-bottom:20px;
    border-radius: 10px;
    display:flex;
}

.individual-trip img{
    border-radius:10px;
    margin-right:20px;

}

.countdown {
    position:relative;
    color:white;
    font-weight:bold;
    top:-60px;
    left:20px;
    height:0px;
}

.all-trips-buttons{
    margin:0px 30px;
    display:flex;
    justify-content: space-between;
}

.breadcrumb-container {
    display:flex;
    width:950px;
    font-size:20px;
    margin-bottom:0px;
}
.breadcrumb {
    align-self: flex-start;

}

.all-trips {
    width:950px;
}

.all-trips-buttons button {
    margin:10px;
    width:150px;
    height:50px;
    border-radius:20px;
    border-style:none;
    background-color:rgb(242, 237, 237);
    padding:10px;
    margin-left:30px;

}

.all-trips-buttons button:hover {
    background-color:#57D9AE;
    transition: background-color 0.5s;
    cursor:pointer;
}

.trip-option-button {
    position:relative;
    background-color:transparent;
    color:white;
    font-weight:bold;
    left:-60px;
    top:5px;
    border-style:none;

}

.trip-option-button:hover {
    cursor:pointer;
}

.trip-options {
    position:absolute;
    background-color:white;
    border:1px solid black;
    border-radius:10px;
}

.trip-options li {
    list-style-type: none;
}

.my_trips-right a {
    color:black;
}

.my_trips-right a:hover {
    color:#57D9AE;
}


.trip-options button {
    width:100px;
    height:30px;
    border-radius:20px;
    border-style:none;
    background-color:rgb(242, 237, 237);
    margin:10px;
    cursor:pointer;

}

.action-buttons button {
    width:150px;
    height:50px;
    border-radius:20px;
    border-style:none;
    background-color:rgb(242, 163, 18);
    padding:10px;

}

.action-buttons button:hover {
    background-color:#57D9AE;
    transition: background-color 0.5s;
    cursor:pointer;
}

.owe {
    color:rgb(224, 147, 4);
}

.owed {
    color:#57D9AE;
}

.all-trips button:hover {
    cursor:pointer;
}


.invite-modal img{
    width:250px;
}

.close-modal {
    background-color:white;
    border-style:none;
    border-radius:10px;
    padding:20px;
    position:sticky;
}

.close-modal:hover {
    cursor:pointer;
    color:#57D9AE;
}

.invite-modal-top,.collaborators {
    margin-left:50px;
    margin-right:50px;
}
.invite-modal form {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:400px;
    margin:0px auto;
}

.invite-modal label {
    margin-right:20px;
}

.invite-modal-form div {
    margin:10px;
}

#collaborator-one {
    margin-bottom:-28px;
}

.invite-modal input {
    width:200px;
    height:30px;
    border-radius:10px;
    border:1px solid grey;
    padding-left:10px;
    padding-right:10px;
}

.action-button-io {
    width:100px;
    height:50px;
    border-radius:10px;
    border-style:none;
    background-color:#57D9AE;
    padding:10px;
    margin-top:20px;
}

.action-button-io:hover {
    cursor:pointer;
}

.invite-modal-top {
    display:flex;
    flex-direction:column;
}

.invite-left h2 {
    font-size:30px
}

.invite-left {
    display:flex;
    flex-direction:column;
    align-items:center;


}
.invite-right {
    padding:25px;
    padding-left:30px;
    padding-top:10px;
    font-style: italic;
}

.collaborators {
    border-top:1px solid grey;
}

.collaborators h3 {
    padding:10px 25px 0px 30px;
    font-style:italic;
}

.collaborators li {
    list-style-type: none;
}

.collaborators-detail {
    display:flex;
    justify-content:center;
}

.user-collaborator {
    font-weight:bold;
    font-size:16px;
}

.owner,.editor {
    padding-left:5px;
}

.owner {
    color:#57D9AE
}
.editor {
    color:rgb(222, 145, 2)
}

.success {
    margin-left:50px;
    margin-right:50px;
    border:1px solid grey;
    border-radius:10px;
    padding:10px;
    height:60px;

}

#hidden {
    border:none;
}

.success button {
    display:block;
    margin:0px auto;
    border:none;
    border-radius:5px;
    margin-top:5px;
    background-color:rgb(255, 244, 240)
}

.success button:hover {
    cursor:pointer;
}


.no-trips {
    min-height:500px;
    margin-top:50px;
    text-align:center;
}

.all-trips .action-buttons {
    align-items:flex-start;
}

@media screen and (max-width:600px) {
    .all-trips {
        width:100%;
    }
    .individual-trip {
        width:100%;
        flex-direction:column;
    }
    .all-trips .action-buttons button {
        width:100%;
    }

    .invite-modal {
        width:100%;
    }

}
