.settle-up-modal img {
    max-width:200px;
    margin:0px auto;
}

.settle-up-modal {
    width:500px;
    height:400px;
    display:flex;
    flex-direction:column;
    overflow:scroll;
}

.settle-up-modal h2 {
    font-size:35px;
    text-align:center;
}

.settle-up-modal p {
    text-align:center;
    font-size:25px;
}

.settle-up-modal ul {
    border:1px solid grey;
    margin-left: 20px;
    margin-right: 20px;
    border-radius:5px;
    padding:10px;
}

.settle-up-modal li {
    list-style-type:none;
    margin-left:none;
    border:1px solid #57D9AE;
    padding:5px;
    border-radius:5px;
    margin:5px;
    font-size:20px;

}

.settle-action-buttons button {
    width:200px;
    height:60px;
    border-radius:10px;
    border-style:none;
    padding:10px;
    background-color:#57D9AE;
    margin:20px;
    font-size:17px;
}

.settle-action-buttons button:hover {
    cursor:pointer;
}

.settle-action-buttons {
    display:flex;
    justify-content: center;

}
#settle-cancel {
    background-color: rgb(226, 225, 225);
}
