.random-places-landing img, .explore-trips img,.explore-all img,.landing-user-trips img {
    width:250px;
    height:250px;
    object-fit: cover;
}

.random-places-landing, .explore-choices {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}


/* .landing-user-trips>div {
    display:flex;
    flex-direction:column;
} */

.landing-page {
    width:950px;
    margin:0px auto;
    display:flex;
    flex-direction:column;
    align-items:center;

}

.headings>h1 {
    font-size:70px;
    font-weight:800;
    text-align:center;
    margin-top:80px;
    margin-bottom:10px;
}

.headings>h2, .headings>p {
    text-align:center;
    font-weight:400;
    max-width:600px;
}

.dashboard {
    border:1px solid #57d9ae;
    margin-top:20px;
    border-radius:10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom:none;
    padding:0px 20px;
    width:950px;
    padding-bottom:20px;
}
.dashboard h3 {
    font-size:24px;
}

.dashboard h4 {
    font-weight:normal;
}

.dashboard img {
    padding:0px 10px;
    border-radius:25px;
}

.random-places-landing h4 {
    text-align:center;
    color:black;
    font-weight:300;
}

.random-places-landing a:hover{
    opacity: 1;
    background-color: rgba(230,230,230,0.5);
    border-radius:25px;
}

.random-places-landing a {
    padding-top:10px;
}

#login-link,#create-trip-link {
    color:#57d9ae;
}

.populate-landing-page:hover {
    opacity: 1;
    background-color: rgba(230,230,230,0.5);
    border-radius:25px;
}

.populate-landing-page {
    padding-top:10px;
    max-width:270px;
}

.populate-landing-page a {
    text-align:center;
    color:black;
    font-weight:300;
    padding:10px 0px;

}
.slogan {
    width:600px;
    margin-bottom:0px;
}


.bottom {
    margin-top:0px;
    margin-bottom:30px;
}

.landing-top img {
    position:absolute;
    top:60px;
    right:30px;
    z-index:-1;

}
.selected {
    background-color:none;
}

.search-list-item {
    display:block;
    background-color:white;
    border:none;
    width:400px;
    text-align:left;
    margin:0px;
    padding:20px;
  }

.search-list-item:hover {
    cursor:pointer;
    border:1px solid orange;
}

.search-bar select {
    height:45px;
    width:80px;
    border-radius:5px;
    margin-right:5px;
    text-align:center;
}
.slide:hover {
    cursor:pointer;
    background-color: rgba(230,230,230,0.5);
    border-radius:25px;
}

.slide {
    padding-top:10px;
}
