/* TODO Add site wide styles */
* {
    font-family:'Mulish', sans-serif
}
.errors {
    font-size:12px;
    color:red;
    font-style:italic;
    min-height:20px;
}

.breadcrumb {
    text-decoration: none;
    color: gray;
}

.breadcrumb:hover {
    color:#57d9ae
}

a {
    text-decoration:none;
}

.required {
    font-size:16px;
    color:red;
    font-style:italic;
}
