.profile-dropdown {
  position: absolute;
  display:flex;
  top:50px;
  flex-direction:column;
  background-color: white;
  border:1px black solid;
  border-radius:10px;
  padding:20px;
  width:150px;
}
#user-info {
  border-bottom:1px solid grey;
  margin-bottom:10px;
  font-style:italic;
}

.hidden {
  display: none;
}

.profile-dropdown li {
  list-style-type:none;
  padding:10px 0px;
  font-size:18px;
  text-align: center;
}
.profile-dropdown li:hover, .profile-dropdown button:hover {
  cursor:pointer;
  color:#57D9AE;

}

#user-info:hover {
  color:black;
  cursor:default;
}

.profile-dropdown button {
  background-color: white;
  border:none;
  font-size:14px;
  padding-left:0px;
  font-size:18px;
}

nav li {
  list-style-type:none
}

nav img {
  width:200px;
}

nav {
  display:flex;
  max-height:200px;
  align-items:center;
  justify-content:space-between;
  margin:0px auto;
  position:sticky;
  top:0px;
  background-color:white;
  padding-top:10px;
  z-index:5;
}

.search-bar-nav {
  flex-grow:1
}
.auth-action-buttons {
  display:flex;
}

.auth-action-buttons li {
  padding-right:10px;
  padding-left:10px;
  min-height:40px
}

.auth-action-buttons button {
  padding:10px;
  border-radius:10px;
  width:100px;
  border-style:none;
  font-size:16px;
}

.auth-action-buttons button:hover {
  border-style:outset;
  cursor:pointer;

}

#login-button {
  background-color:rgb(255, 149, 0)
}

#signup-button {
  background-color:#57D9AE
}

.search-bar input {
  width:90%;
  height:50px;
  border-radius:20px;
  padding:10px;
  border-style:none;
  border:1px solid grey;
  margin-left:10px;
}

/* .fa-magnifying-glass {
  margin-left:-20px;
} */

.search-bar input:hover {
  border-style:outset;
  border-color:#57D9AE;
}
.search-bar input:active {
  border-style:outset;
  border-color:#57D9AE;
}

.profile-button {
  background-color:white;
  border:none;
  height:50px;
}

.profile-button:hover {
  cursor:pointer
}


.search-output {
  width:55%;
  position:absolute;
  top:50px;
  background-color:white;
  margin-left:30px;
  padding-left:0px;
  max-height:400px;
  overflow-y: scroll;
}

.populate-search {
  display:flex;
  flex-direction:column;
  border:black solid 1px;
  border-radius:10px;
  padding:10px;
}

#landing-page-search {
  width:600px;
  margin-left:0px;
}

#landing-page-results {
  width:580px;
  margin-left:0px;
  padding-left:0px;
  top:460px;
}

#landing-page-results>button {
  width:580px;
}

.search-output li {
  list-style-type:none;
  padding-left:20px;
}
