.profile-dropdown {
  position: absolute;
  right:100px;
  display:flex;
  flex-direction:column;
  background-color: white;
}

.hidden {
  display: none;
}

.profile-dropdown li {
  list-style-type:none
}

nav li {
  list-style-type:none
}

nav img {
  width:200px;
}

nav {
  display:flex;
  max-height:200px;
  align-items:center;
  justify-content:space-between;
  width:900px;
  margin:0px auto;
}

.auth-action-buttons {
  display:flex;
}

.auth-action-buttons li {
  padding-right:10px;
  padding-left:10px
}
