#signup-modal {
    width:100%;
    max-height:600px;
    overflow-y: scroll;

}
#su-modal {
    width:100%;
    max-height: 600px;
    min-height:200px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    padding:8px;
    margin:0px;

}

.modal-left {
    width:200px;
    flex-grow:1;
}

#su-modal h1 {
    max-width:200px;
}

#su-modal .redirection {
    margin-left:0px;
}

#su-modal img {
    width:200px;
}
