.explore-images img {
    width:350px;
    height:250px;
    margin:10px;
    border-radius:10px;
}

.explore {
    margin:50px auto;
    width:1000px;
}

.explore>h2 {
    font-size:60px;
}

.coming-soon img{
    width:400px;
    border-radius:10px;
}

.coming-soon {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.coming-soon>h2 {
    font-weight:300;
    width:750px;
    text-align:center;
}

.filter-buttons {
    display:flex;
    justify-content:space-around;
    margin-top:30px;
    margin-bottom:30px;
}

.filter-buttons button {
    width:250px;
    height:60px;
    border-radius:20px;
    border:1px solid #57d9ae;
    border-style:outset;
    font-size:20px;
    margin-left:10px;
    margin-right:10px;
}

.filter-buttons button:hover {
    cursor:pointer;
}

.booking-places {
    margin:20px;
    max-width:400px;
    max-height:400px;
}

.booking-places>h4 {
    font-weight:300;
    margin-top:0px;
}

.booking-places>h3 {
    margin-top:0px;
    margin-bottom:0px;
}

/* .explore-images {
    display:flex;
    justify-content:center;

} */

.selected {
    background-color:#57d9ae

}

.explore-word {
    color:rgb(219, 148, 17)
}

.about-city>img {
    width:600px;
    border-radius:10px;

}

.about-city {
    margin:0px auto;
    width:950px;
    display:flex;
    flex-direction:column;
    align-items:center
}
.about-city p {
    font-size:20px;
    font-weight:200;
    max-width:950px;
}

.about-city h3 {
    font-size:35px
}

.explore-hotels,.explore-things,.explore-restaurants {
    display:flex;
    flex-direction:row;
}
.bookings-div {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-grow:2;
}

.about-explore-section {
    max-width:125px;
}
.explore-things>.booking-places {
    margin-left:0px;
}

.explore-images>button, .explore-images>.fa-heart {
    position:absolute;
}
