.add-expense-modal {
    width:950px;
    min-height:500px;
    max-height:500px;
    overflow:scroll;
    display:flex;
}

.add-expense-modal .hidden {
    display:none
}

.add-expense-modal label {
    display:block;
}

.user-choices {
    min-height:150px;
}

.add-expense-modal img{
    width:300px;

}

.add-expense-modal>div {
    margin:30px;
    display:flex;
    flex-direction:column;
    /* border-right:1px solid grey; */
    /* justify-content:center;
    align-items:center;
} */
}

.add-expense-modal h2{
    font-size:40px;
}

.add-expense-form {
    margin:30px;
    flex-grow:1;
    margin-bottom:40px;
}

.add-expense-form>h3 {
    margin-top:30px;
    font-size:20px;
    text-align:center;

}

.add-expense-form input {
    width:400px;
    height:50px;
    border-radius:10px;
    border:1px solid grey;
    padding-left:10px;
    padding-right:10px;
    margin-top:10px;
}

.add-expense-form input,.add-expense-form select {
    font-size:17px;
}

.add-expense-form input:hover,.add-expense-form select:hover {
    border-color:#57D9AE;
    border-style:outset;
}

.add-expense-form select {
    width:420px;
    height:60px;
    border-radius:10px;
    border:1px solid grey;
    padding-left:10px;
    padding-right:10px;
    margin-top:10px;
}

#checkbox {
    display:inline-block;
    width:20px;
    height:20px;
    margin-top:0px;
    margin-left:10px;
}

#users-checkbox {
    display:inline-block;
    margin:10px;
}

.keep-min {
    height:50px;
    display:flex;
    align-items:center;

}

.user-choices {
    margin:20px 0px;
}
.choosing-users {
    height:350px;
}

#multiple-users {
    height:150px;
    padding:10px;
    padding-left:25px;
    font-size:17px;
}

.choosing-users p{
    font-size:30px;
    font-weight:bold;
    margin-bottom:0px;
}

.add-expense-form>div {
    display:flex;
    flex-direction:column;
}

.add-expense-form label {
    font-size:18px;
}

#users-checkbox {
    font-size:30px;
    font-weight:200;
}
#checkbox {
    font-size:30px;
}

.split-type-info {
    border:1px solid #57D9AE;
    border-radius:10px;
    padding:10px;
}

.split-type-info>p {
    font-style:italic;
}

#save-button {
    height:50px;
    border-radius:10px;
    border-style:none;
    padding:10px;
    background-color:rgb(255, 149, 0);

}

#expense-action-buttons {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    gap:20px;
    padding-bottom:20px;
}

#cancel-button {
    height:50px;
    border-radius:10px;
    border-style:none;
    padding:10px;
    background-color:rgb(226, 225, 225);
}

#expense-action-buttons button:hover {
    cursor:pointer;
}

.invite-collaborators-option button {
    width:200px;
    height:50px;
    border-radius:10px;
    border-style:none;
    padding:10px;
    background-color:rgb(226, 225, 225);
    margin-top:20px;
    margin-left:30px;

}

.invite-collaborators-option p {
    font-size:25px;
}
.invite-collaborators-option {
    flex-grow:1;
}
.disabled-option {
    font-weight:bold;
}

.bigger-p{
    font-size:20px;
    color:orange;
    margin:10px auto;
}

.split-type-info {
    padding-left:20px;
}

.per-person-info {
    color:orange;
    font-size:25px;
    margin-bottom:30px;
    margin-left:100px;
}

.total-info-splits {
    border:1px solid grey;
    width:300px;
    margin-left:60px;
    margin-top:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:10px;
    color:orange;
    font-size:20px;
}
.total-info-splits>p {
    margin:5px;
}

#expense-action-buttons>button {
    width:150px;
    height:60px;
    font-size:17px;
}

.trip-date-info {
    font-size:17px;
    font-weight:100;
    text-align:center;
}
