.add-expense-modal {
    width:600px;
    min-height:600px;
}

.add-expense-modal .hidden {
    display:none
}

.keep-min {
    min-height:100px;
}

.add-expense-modal label {
    display:block;
}

.user-choice {
    height:fit-content
}
