.hidden  {
    display:none;
    opacity: 0;
}

.block {
    display:block;
    transition: opacity 2s ease-in;
    opacity: 1;
}
.sign-up-page {
    width:950px;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    border:1px solid #57D9AE;
}

.sign-up-page>h1 {
    margin-bottom:10px;
    margin-left:30px;
}

.sign-up-page img {
    width:400px;
    max-height:400px;
}

.redirection {
    color:grey;
    font-style: italic;
    margin-left:30px;
}
.redirection button {
    background-color:white;
    border-style:none;
    font-size:16px;
    color:rgb(232, 151, 0);
    cursor:pointer;
}
.redirection button:hover {
    color:#57D9AE
}

.signup-layout {
    display:flex;

}

.sign-up-page input {
    width:250px;
    height:30px;
    border-radius:10px;
    border:1px solid grey;
    margin-left:20px;
    padding-left:10px;
}

.sign-up-page select {
    width:260px;
    height:35px;
    margin-left:10px;
    border-radius:10px;
    border:1px solid grey;

}
.sign-up-page input:hover,.sign-up-page select:hover {
    border-color:#57D9AE;
    border-style:outset;
}

.action-button-ls {
    width:100px;
    height:30px;
    border-radius:10px;
    border-style:none;
    background-color:rgb(255, 149, 0);
    padding:10px;
    padding-bottom:25px;
}

.action-button-ls:hover {
    background-color:#57D9AE;
    transition: background-color 0.5s
}
