.hidden  {
    display:none;
}

.block {
    display:block;
    transition: opacity 2s ease-in;
    opacity: 1;
}
.sign-up-page {
    width:95%;
    min-height:750px;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    border:1px solid #57D9AE;
}

.sign-up-page>h1 {
    margin-bottom:10px;
    margin-left:30px;
}

.sign-up-page img {
    width:400px;
    max-height:400px;
}

.redirection {
    color:grey;
    font-style: italic;
    margin-left:30px;
}
.redirection button {
    background-color:white;
    border-style:none;
    font-size:16px;
    color:rgb(232, 151, 0);
    cursor:pointer;
}
.redirection button:hover {
    color:#57D9AE
}

.signup-layout {
    display:flex;

}

.sign-up-page input {
    width:400px;
    height:50px;
    border-radius:10px;
    border:1px solid grey;
    padding-left:10px;
    margin-top:10px;
}

.sign-up-page select {
    width:410px;
    height:55px;
    border-radius:10px;
    border:1px solid grey;
    padding-left:10px;
    margin-top:10px;
    font-size:17px;

}
.sign-up-page input:hover,.sign-up-page select:hover {
    border-color:#57D9AE;
    border-style:outset;
}

.action-button-ls {
    width:100px;
    height:30px;
    border-radius:10px;
    border-style:none;
    background-color:rgb(255, 149, 0);
    padding:10px;
    padding-bottom:25px;
}

.action-button-ls:hover {
    background-color:#57D9AE;
    transition: background-color 0.5s
}

.signup-layout>form {
    flex-grow:1;
    margin-left:50px;
    margin-top:-70px;
}

.signup-layout>form label {
    font-size:18px;
}
.signup-inputs-div {
    display:flex;
    flex-direction:column;
}
.signup-inputs-div input {
    margin-left:0px;
    font-size:17px;

}

.sign-up-page .action-button-ls {
    margin-left:0px;
    width:400px;
    height:60px;
    font-size:18px;
    margin-left:10px;
}
.block>a {
    margin-left:90px;
}

@media screen and (max-width:920px) {
    .signup-layout {
        flex-direction:column;
        width:97%
    }
    /* .login-layout>.logo {
        display:none;
    } */
    .sign-up-page {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .sign-up-page>h1 {
        margin-left:0px;
    }
    .sign-up-page img {
        width:95%;
    }

    .signup-layout form {
        margin-top:10px;
        margin-left:0px;
    }
    .signup-inputs-div input,.signup-inputs-div select {
        width:100%;
    }

    .sign-up-page .action-button-ls {
        width:100%;
        margin-left:0px;

    }

    .sign-up-page .login-action>p {
        display:none;
    }
    }
