.user-bookings {
    min-height:800px;
}

.user-bookings {
    width:950px;
    margin:30px auto;
}
.user-bookings>h3 {
    margin-bottom:30px;
}

.individual-booking {
  border: 1px black solid;
  padding: 20px;
  width: 950px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
}

.individual-booking>img {
    border-radius: 10px;
    margin-right: 20px;
    min-width:450px;
    max-width: 450px;
    min-height: 250px;
    max-height:300px;
    object-fit: cover;
}
.individual-booking i {
    margin-right:10px;
}

.individual-booking a {
    color:black;
    cursor:pointer;
}

.individual-booking .add-expense-button, .individual-booking .view-expense-button {
    margin-left:0px;
}

.no-bookings {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.no-bookings>p {
    width:80%;
    text-align:justify;
    margin:10px auto;
}
.no-bookings>button {
    width:150px;
    height:50px;
    margin:10px auto;
    border-radius:10px;
    border-style:none;
    cursor:pointer;
}


@media screen and (max-width:600px) {
    .user-bookings {
        width:100%;
    }

    .individual-booking {
        width:90%;
        flex-direction:column;
    }

    .individual-booking>img {
        min-width:100%;
        max-width:100%;
    }

    .individual-booking .add-expense-button {
        width:100%;
    }
}
