.not-found {
    width:950px;
    margin:50px auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.not-found img {
    width:400px;
}

.not-found h1 {
    font-size:40px;
}
.not-found a {
    color:grey;
}
.not-found a:hover {
    color:#57d9ae;
    cursor:pointer;
}
